
Na serwisie {{$ sitename}} zostało utworzone konto dla tego adresu e-mail.
Dane logowania są następujące:

Lokalizacja serwisu:	{{$siteurl}}
Login:	{{$email}}
Hasło: (hasło, które zostało podane podczas rejestracji)

Jeśli to konto zostało utworzone bez Twojej wiedzy i nie jest pożądane, możesz
odwiedić nasz serwis i zresetować ustawione hasło. Umożliwi to usunięcie konta
linkiem na stronie "Ustawienia", a my przepraszamy za wszelkie niedogodności.

Dziękujemy i witamu na serwisie {{$sitename}}.

Z poważaniem,
	{{$sitename}} Administrator

 
